<div class="card-header">
  <img src="{{photo.user.photoSrc}}" alt="" class="user-avatar">
  <span class="pull-left">{{photo.user.name}}</span>
  <span class="pull-right">
    {{photo.createdAt}}
  </span>
</div>
<div class="card-body">
  <img src="{{photo.url}}" class="photo mb-3" alt="">
  <div>
    <h6>{{photo.title}}</h6>
    <p>
      {{photo.description}}
    </p>
  </div>
</div>